@font-face{
    font-family: Quicksand ;
    src: url('../Quicksand font 1/Quicksand-VariableFont_wght.ttf');
}

@font-face {
    font-family: QuickSandMedium;
    src: url("../Quicksand font 1/static/Quicksand-Medium.ttf");
}
 
@font-face {
    font-family: QuickSandBold;
    src: url("../Quicksand font 1/static/Quicksand-Bold.ttf");
}
 
@font-face {
    font-family: QuickSandRegular;
    src: url('../Quicksand font 1/static/Quicksand-Regular.ttf');
}
 
@font-face {
    font-family: QuickSandLight;
    src: url('../Quicksand font 1/static/Quicksand-Light.ttf');
}
 
@font-face {
    font-family: QuickSandSemiBold;
    src: url('../Quicksand font 1/static/Quicksand-SemiBold.ttf');
}
