h1{
    background-color: brown;
    letter-spacing: 8px;
    
}
h2{
    background-color: green;
    color: white;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: brown;
    font: italic;
    margin-top: 20px;
    height: 34px;
    padding-bottom: 13px;
    padding-top: -500px;
}

.headerh1{
    margin-bottom: 0%;
}
body{
    background-color: rgb(238, 238, 201);
    font-family: Arial, Helvetica, sans-serif;
}
.whyhtml{
    color: brown;
}
.dummy1{
    background-color: red;
    color: red;
    height: 20px;
}
table{
    background-color: rgb(173, 173, 173);
}
img{
    border: 2px dotted black;
    
}
a{
    text-decoration: none;
}
h3{
    color: grey;
}
.subheader{
    margin-top: -8px;
}
h2{
    padding: -2px,-4px;
    padding-left: 15px;
    padding-bottom: 3px;
    padding-top: 2px;

    
}
.random{
    margin-top: 40px;
}
.textarea{
    overflow-y: scroll;
}