@media(max-width : 1044px){
    .hamburger{
        display: none;
    }
    .displayhamburger{
        display: block;
    }
    li :nth-child(n) {
    margin-right: 12px;
    }
   
}
@media(max-width : 672px){

    .container{
        grid-template-columns: repeat(auto-fit,minmax(376px,1fr));
        padding: 12px;
    }
}
@media(max-width : 399px){

    .container{
        grid-template-columns: repeat(auto-fit,minmax(356px,1fr));
        padding: 10px;
    }
    .li img{
        margin: auto;
    }
    .ull .div{
        margin: auto;
    }
    .header li :nth-child(n) {
    margin-right: 12px;
    }
    .li {
    margin-left: 0;
    }
    .badgeacc{
        margin-left: -26px;
    }
    .badgeann{
        margin-left: -18px;
    }
    .badge{
        margin-left: -18px;
    }
    .announcements{
        margin-right: 16px;
    }
    .bell{
        margin-right: 16px;
    }
    .section3{
        max-width: 346px;
    }
}

@media(max-width : 550px){

    .container{
        grid-template-columns: repeat(auto-fit,minmax(376px,1fr));
        padding: 12px;
    }
    .anndiv{
        .announcements{
            margin-right: 16px;
        }
    }
    .belldiv{
        .bell{
        margin-right: 16px;
        }
    }
}