// Colors
$background-main: #EEEEEE;
$background-footer: #E0E1E1;
$color-primary: #222222;
$color-secondary: #616161;
$color-muted: #686868;
$color-alert: #D80000;
$color-ann-background: #FFFFEE;
$color-ann-border: #2222221F;
$color-ann-footer: #1F7A54;
$color-card-border: rgb(177, 177, 177);
$color-container-border: rgb(192, 192, 192);

// Font sizes
$font-small: 12px;
$font-medium: 14px;
$font-large: 16px;
$font-xlarge: 24px;

// Opacity
$opacity-full: 1;