@font-face {
  font-family: Quicksand;
  src: url("../Quicksand font 1/Quicksand-VariableFont_wght.ttf");
}
@font-face {
  font-family: QuickSandMedium;
  src: url("../Quicksand font 1/static/Quicksand-Medium.ttf");
}
@font-face {
  font-family: QuickSandBold;
  src: url("../Quicksand font 1/static/Quicksand-Bold.ttf");
}
@font-face {
  font-family: QuickSandRegular;
  src: url("../Quicksand font 1/static/Quicksand-Regular.ttf");
}
@font-face {
  font-family: QuickSandLight;
  src: url("../Quicksand font 1/static/Quicksand-Light.ttf");
}
@font-face {
  font-family: QuickSandSemiBold;
  src: url("../Quicksand font 1/static/Quicksand-SemiBold.ttf");
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100vh;
  background-color: #EEEEEE;
}
html .show-bell-icon, body .show-bell-icon {
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  background-image: url("../header pattern svg.svg");
  align-content: center;
}

.logo {
  height: 36px;
  display: flex;
}

.logo img {
  margin-left: 24px;
  height: 36px;
}

.header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header a {
  text-decoration: none;
  text-align: center;
  font-family: QuickSandMedium;
  font-size: 14px;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.header li {
  width: -moz-min-content;
  width: min-content;
}

.header li :nth-child(n) {
  margin-right: 24px;
}

.selected-navitem a {
  border-bottom: 2px solid white;
  padding-bottom: 17px;
}

.badge {
  position: absolute;
  background-color: #2A7FF3;
  color: white;
  width: 17px;
  text-align: center;
  border-radius: 50%;
  margin-left: -36px;
  margin-top: -6px;
  font-size: 14px;
  font-family: QuickSandMedium;
}

.badgeann {
  position: absolute;
  background-color: #2A7FF3;
  color: white;
  width: 17px;
  text-align: center;
  border-radius: 50%;
  margin-left: -30px;
  margin-top: -6px;
  font-size: 14px;
  font-family: QuickSandMedium;
}

.badgeacc {
  position: absolute;
  background-color: #FFFFFF;
  color: #222222;
  width: 17px;
  text-align: center;
  border-radius: 50%;
  margin-left: -38px;
  margin-top: -3px;
  font-size: 10px;
  font-family: QuickSandMedium;
}

.account {
  width: 32px;
  height: 32px;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: #E0E1E1 0% 0% no-repeat padding-box;
  opacity: 1;
}
.footer .footerlogo {
  width: 90px;
  height: 24px;
  opacity: 1;
}
.footer .line {
  color: rgba(0, 0, 0, 0.1215686275);
  margin-left: 16px;
  font-size: 12px;
  width: 0px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1215686275);
  opacity: 1;
}
.footer .copyright, .footer .zeusname, .footer .rights {
  margin-left: 16px;
  font-family: QuickSandMedium;
  font-size: 12px;
  color: #616161;
  opacity: 1;
}
.footer .copyright.zeusname, .footer .zeusname.zeusname, .footer .rights.zeusname {
  font-family: QuickSandBold;
  margin-left: 8px;
}
.footer .copyright.rights, .footer .zeusname.rights, .footer .rights.rights {
  margin-left: 8px;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 95px);
  max-width: 100%;
}

.navigation2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background: #8DDC97 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  margin: 24px;
}
.navigation2 .selectednav2 {
  border-bottom: 2px solid #222222;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navigation2 .selectednav2 span {
  margin-left: 8px;
  margin-right: 8px;
}
.navigation2 .selectednav2 .coursesimg {
  text-align: left;
  font: normal normal normal 32px/36px Material-Design-Iconic-Font;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}
.navigation2 .selectednav2 .courses {
  text-align: left;
  font-family: QuickSandMedium;
  font-size: 16px;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}
.navigation2 .nav2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.navigation2 .nav2 span {
  margin-left: 8px;
  margin-right: 8px;
}
.navigation2 .nav2 .classesimg {
  text-align: left;
  font: normal normal normal 32px/36px Material-Design-Iconic-Font;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}
.navigation2 .nav2 .classes {
  text-align: left;
  font-family: QuickSandMedium;
  font-size: 16px;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px;
  height: 45px;
  border-bottom: 1px solid rgb(192, 192, 192);
  font-family: QuickSandMedium;
  font-size: 16px;
  color: #686868;
  opacity: 1;
}
.section2 .nofncouses p {
  font-family: QuickSandMedium;
  font-size: 12px;
  letter-spacing: 0px;
  color: #686868;
  opacity: 1;
  margin: 0;
}
.section2 .courseselection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2 .courseselection .sortby p {
  font-family: QuickSandMedium;
  font-size: 12px;
  letter-spacing: 0px;
  color: #686868;
  opacity: 1;
  margin: 0;
}
.section2 .courseselection select.coursename {
  border: none;
  outline: none;
  background-color: #EEEEEE;
  font-family: QuickSandMedium;
  font-size: 16px;
  letter-spacing: 0px;
  color: #333333;
  width: 156px;
  margin-left: 6px;
  opacity: 1;
}
.section2 .courseselection .arrow {
  transform: rotate(90deg);
}

.container {
  display: grid;
  gap: 24px;
  align-items: center;
  padding: 24px 98px;
  grid-template-columns: repeat(auto-fit, minmax(476px, 1fr));
  grid-auto-flow: dense;
}

.expired {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 18px;
  text-align: left;
  font-family: QuickSandMedium;
  font-size: 10px;
  letter-spacing: 0px;
  color: #D80000;
  background: #FFE4E6 0% 0% no-repeat padding-box;
  border-radius: 2px;
  margin-left: 0px;
  opacity: 1;
}

.section3 {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background-color: white;
  position: relative;
  transform: scale(1);
  height: auto;
  padding: 24px 24px 9px 24px;
}

.card {
  display: flex;
  background-color: white;
}

.coursedetails {
  margin-left: 24px;
  width: 100%;
}

.courseimage {
  margin-bottom: 16px;
}

.sec1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-family: QuickSandMedium;
  font-size: 16px;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
  margin-bottom: 7px;
}

.sec1 img {
  margin-bottom: auto;
}

.sec2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-family: QuickSandMedium;
  font-size: 12px;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
  margin-bottom: 7px;
}

.sec3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-family: QuickSandMedium;
  font-size: 12px;
  letter-spacing: 0px;
  color: #666666;
  margin-bottom: 18px;
}

.sec3 span,
.sec3 p,
.sec2 p,
.sec5 p {
  margin-right: 6px;
}

.sec4 {
  max-width: 100%;
  height: 27px;
  text-align: left;
  font-family: QuickSandMedium;
  border-bottom: 1px solid rgba(33, 62, 84, 0.2392156863);
  font-size: 16px;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}

.sec4 select {
  margin-left: 0px;
  max-width: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  text-align: left;
  font-family: QuickSandMedium;
  font-size: 16px;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
  margin-bottom: 8px;
  width: 100%;
  height: 27px;
  background-color: white;
  border: none;
}

.sec5 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: left;
  font-family: QuickSandMedium;
  font-size: 12px;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
  margin-top: 8px;
}

.actions {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(177, 177, 177);
}

.actions img {
  margin-top: 16px;
  margin-bottom: 8px;
}

.hiddenhamburger {
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
  display: none;
}
.hiddenhamburger.ablehamburger {
  display: flex;
}

.displayhamburger {
  display: none;
}

.hamburgeritems {
  min-width: 280px;
  position: absolute;
  z-index: 99999999;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  border-radius: 2px;
  opacity: 1;
  animation-name: hamanimation;
  animation-duration: 1s;
  /* padding: 8px 16px 8px 16px; */
}
@keyframes hamanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hamburgeritems .item .hdashboard, .hamburgeritems .item .hcontent, .hamburgeritems .item .husers, .hamburgeritems .item .hreports, .hamburgeritems .item .hadmin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  min-width: 280px;
  padding: 0 24px 0 16px;
  background-color: #FFFFFF;
}
.hamburgeritems .item .hdashboard p, .hamburgeritems .item .hcontent p, .hamburgeritems .item .husers p, .hamburgeritems .item .hreports p, .hamburgeritems .item .hadmin p {
  text-align: left;
  letter-spacing: 0px;
  color: #1F7A54;
  text-transform: uppercase;
  opacity: 1;
  font-family: QuickSandMedium;
  font-size: 14px;
  margin: 0;
}
.hamburgeritems .item .coursecatlog {
  background: #F3F3F3;
  opacity: 1;
  min-width: 280px;
  padding: 0 24px 0 16px;
  align-items: center;
  height: 48px;
  display: none;
}
.hamburgeritems .item .coursecatlog p {
  padding-left: 32px;
  text-align: left;
  letter-spacing: 0px;
  color: #1F7A54;
  text-transform: uppercase;
  opacity: 1;
  font-family: QuickSandMedium;
  font-size: 14px;
  padding-top: 15px;
}

.anndiv {
  display: none;
  width: 100%;
  justify-content: end;
  transition: opacity 0.5s ease;
  /* margin-right: 156px; */
}
.anndiv .announcements {
  max-width: 315px;
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-right: 90px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  animation-name: announcementanimation;
  animation-duration: 1s;
  /* padding: 8px 16px 8px 16px; */
}
@keyframes announcementanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.anndiv .announcements .announcementitems {
  display: flex;
  flex-direction: column;
  max-width: 315px;
  background-color: #FFFFFF;
  overflow-y: scroll;
  max-height: 500px;
}
.anndiv .announcements .announcementitems .annitem {
  border-bottom: 1px solid rgba(34, 34, 34, 0.1215686275);
  padding: 8px 16px 8px 16px;
}
.anndiv .announcements .announcementitems .annitem .annsec2 {
  margin-bottom: 8px;
}
.anndiv .announcements .announcementitems .annitem .annsec2 .content {
  /* UI Properties */
  text-align: left;
  font-family: QuickSandMedium;
  font-size: 14px;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}
.anndiv .announcements .announcementitems .annitem .annsec1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.anndiv .announcements .announcementitems .annitem .annsec1 .panadname {
  display: flex;
  justify-content: center;
  align-items: center;
}
.anndiv .announcements .announcementitems .annitem .annsec1 .panadname .pa {
  text-align: left;
  font-family: QuickSandMedium;
  font-size: 12px;
  letter-spacing: 0px;
  color: #6E6E6E;
}
.anndiv .announcements .announcementitems .annitem .annsec1 .panadname .name {
  text-align: left;
  font-family: QuickSandMedium;
  font-size: 12px;
  letter-spacing: 0px;
  color: #222222;
}
.anndiv .announcements .announcementitems .annitem .annsec1 .checkimage img {
  border-radius: 50%;
  width: 15px;
  height: 18px;
}
.anndiv .announcements .announcementitems .annitem .annsec4 {
  display: flex;
  justify-content: space-between;
  font-family: QuickSandMedium;
  font-size: 12px;
  letter-spacing: 0px;
  color: #6E6E6E;
  opacity: 1;
  margin-bottom: 8px;
}
.anndiv .announcements .announcementitems .annitem .annsec3 {
  margin-bottom: 8px;
  font-family: QuickSandMedium;
  font-size: 12px;
  letter-spacing: 0px;
  color: #6E6E6E;
  opacity: 1;
}
.anndiv .announcements .annfooter {
  max-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FFFFFF;
  text-align: center;
  font-family: QuickSandMedium;
  font-size: 14px;
  letter-spacing: -0.35px;
  color: #1F7A54;
  opacity: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid rgba(34, 34, 34, 0.1215686275);
  border-bottom: 1px solid rgba(34, 34, 34, 0.1215686275);
}
.anndiv .announcements .annfooter .fline {
  color: rgba(0, 0, 0, 0.1215686275);
}

.aboutandcontactus {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
  gap: 8px;
}

.about,
.contactus {
  font-family: QuickSandMedium;
  font-size: 14px;
  color: #1F7A54;
  cursor: pointer;
  margin: 0;
}

.seperate {
  font-family: QuickSandMedium;
  font-size: 14px;
  color: #CFCFCF;
  margin: 0 8px;
  cursor: default;
}

@media (max-width: 1044px) {
  .hamburger {
    display: none;
  }
  .displayhamburger {
    display: block;
  }
  li :nth-child(n) {
    margin-right: 12px;
  }
}
@media (max-width: 672px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(376px, 1fr));
    padding: 12px;
  }
}
@media (max-width: 399px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(356px, 1fr));
    padding: 10px;
  }
  .li img {
    margin: auto;
  }
  .ull .div {
    margin: auto;
  }
  .header li :nth-child(n) {
    margin-right: 12px;
  }
  .li {
    margin-left: 0;
  }
  .badgeacc {
    margin-left: -26px;
  }
  .badgeann {
    margin-left: -18px;
  }
  .badge {
    margin-left: -18px;
  }
  .announcements {
    margin-right: 16px;
  }
  .bell {
    margin-right: 16px;
  }
  .section3 {
    max-width: 346px;
  }
}
@media (max-width: 550px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(376px, 1fr));
    padding: 12px;
  }
  .anndiv .announcements {
    margin-right: 16px;
  }
  .belldiv .bell {
    margin-right: 16px;
  }
}
.belldiv {
  display: none;
  position: absolute;
  z-index: 999999;
  right: 0;
}

.bell {
  max-width: 315px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  margin-right: 160px;
  opacity: 1;
  animation-name: bellanimation;
  animation-duration: 1s;
  /* padding: 8px 16px 8px 16px; */
}
@keyframes bellanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bell .bellitems {
  display: flex;
  flex-direction: column;
  max-width: 315px;
  background-color: #FFFFFF;
  overflow-y: scroll;
  max-height: 500px;
}
.bell .bellitem {
  border-bottom: 1px solid rgba(34, 34, 34, 0.1215686275);
  padding: 8px 16px;
  background-color: #fff;
}
.bell .bellitem.notchecked {
  background-color: #FFFFEE;
}
.bell .bellitem .bellsec1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  text-align: left;
  font-family: QuickSandMedium;
  font-size: 14px;
  color: #222222;
  opacity: 1;
}
.bell .bellitem .bellsec1 .bellcontent {
  font-family: QuickSandMedium;
  font-size: 14px;
  color: #222222;
  opacity: 1;
}
.bell .bellitem .bellsec1 .bellcheckimage img {
  border-radius: 50%;
  width: 15px;
  height: 18px;
}
.bell .bellitem .bellsec2 {
  margin-bottom: 8px;
  font-family: QuickSandMedium;
  font-size: 12px;
  color: #6E6E6E;
  opacity: 1;
}
.bell .bellitem .bellsec2 .bellcourse .coursename, .bell .bellitem .bellsec2 .bellcourse .bellcoursename {
  color: #222222;
}
.bell .bellitem .bellsec3 {
  display: flex;
  justify-content: flex-end;
  font-family: QuickSandMedium;
  font-size: 12px;
  color: #6E6E6E;
  opacity: 1;
  margin-bottom: 8px;
}
.bell .annfooter {
  max-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FFFFFF;
  text-align: center;
  font-family: QuickSandMedium;
  font-size: 14px;
  color: #1F7A54;
  opacity: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid rgba(34, 34, 34, 0.1215686275);
  border-bottom: 1px solid rgba(34, 34, 34, 0.1215686275);
}/*# sourceMappingURL=stylee22.css.map */