@font-face {
    font-family:Roboto ;
    src: url('./Roboto-VariableFont_wdth,wght.ttf');
}
.box{
    display: flex;
    background-color: white;
    height: 138px;
    width: 457px;
    flex-wrap: wrap;
    /* max-width: 3950px; */
}
.font{
    font-family: Arial, Helvetica, sans-serif;
}
.details{
    margin-left: 14px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
   
   
}
.username{
    font-weight: bold;
    font-family: Roboto;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 14px;
}
.description{
    margin-top: 14px;
    font-family: Roboto;
    font-size: 20px;
    margin-bottom: 24px;
   
}
.pimage{
    width: 130px;
    height: 130px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

span{
    font-size: 14px;
    color: grey;
}
.details{
    margin-top: 5px;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.icons{
   
    display: flex;
    font-family: Roboto
    
}
.comment{
    margin-left: 14px;
    font-size: 15px;
}
.retweet{
    margin-left: 14px;
    font-size: 15px;
}
.like{
    margin-left: 14px;
    font-size: 15px;
    
}
.icomment{
    color:#858991;
    font-size: 20px;
}
.iretweet{
    margin-left: 24px;
    color:#858991;
    font-size: 20px;
}
.ilike{
    margin-left: 24px;
    color:#858991;
    font-size: 20px;
}