html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* .main{

display: flex;
} */
 #scrollable{
  height: 30000000px;
  width: 30000000px;
  position: relative;
 }
.container {
  flex: 1 1 auto;
  min-width: 0;
  height: 100vh;
  overflow: auto;
  /* position: relative; */
}
#canvas, #overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
#canvas {
  z-index: 1;
  pointer-events: auto; /* canvas should receive events */
}
#overlay {
  z-index: 2; /* overlay on top */
  pointer-events: none; /* overlay does NOT block mouse events */
}
/* #input{
  position: absolute;
  display: none;
  z-index: 10;
  box-sizing: border-box;
  border: 7px solid #0a753a; */

/* } */
#cellInput {
  position: absolute;
  display: none;
  z-index: 10;
  font-size: 12px;
  padding: 2px;
  box-sizing: border-box;
  /* border: 7px solid #0a753a; */
}

input[type=text]:focus {
  outline: none;
  /* border: 2px solid #0a753a; */
}
input{
  border: 2px solid #0a753a;
}
