html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.main{

display: flex;
}
.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  position: relative;
}
canvas {
  display: block;
}
#cellInput {
  position: absolute;
  display: none;
  z-index: 10;
  font-size: 12px;
  padding: 2px;
  box-sizing: border-box;
}
.row{
  width: 100%;
  height: 40px;
}
#colHeader{
  width: 40px;
}
input[type=text]:focus {
  border: 3px solid #0a753a;
}