html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.main{

display: flex;
}
.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  position: relative;
}
canvas {
  display: block;
}
/* #input{
  position: absolute;
  display: none;
  z-index: 10;
  box-sizing: border-box;
  border: 7px solid #0a753a; */

/* } */
#cellInput {
  position: absolute;
  display: none;
  z-index: 10;
  font-size: 12px;
  padding: 2px;
  box-sizing: border-box;
  /* border: 7px solid #0a753a; */
}
.row{
  width: 100%;
  height: 40px;
}
/* #colHeader{
 height: 40px;
} */
input[type=text]:focus {
  outline: none;
  /* border: 3px solid #0a753a; */
}
#fill-handle {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #0a753a;
  z-index: 99;
  display: none;
  pointer-events: auto; /* for drag-to-fill feature later */
}